.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron,
.compass .chevron .active {
  stroke: #fff;
}

.compass .active .active .direction {
  fill: #999;
}

#copy {
  bottom: 4px;
  color: #fff;
  cursor: default;
  font: 9px sans-serif;
  left: 0;
  padding-left: 5px;
  position: absolute;
}

#copy a {
  color: #fff;
}

#inner svg {
  border: solid 2px #ccc;
  height: 400px;
  margin-bottom: .5em;
  width: 600px;
}

.layer circle {
  cursor: pointer;
  fill: #3db717;
  fill-opacity: .5;
  stroke: black;
}

.layer circle:hover {
  fill: #8ff22c;
}

.svg {
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
